*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 48px;
}